[defaults]
nocows = True
roles_path = ./roles:/etc/ansible/roles
collections_path = ./collections:/etc/ansible/collections
inventory = inventory
become = True
stdout_callback = yaml
interpreter_python =  /usr/local/bin/python3.13